/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    background-color: #525659;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 2000px;
}

#container {
position: relative;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
height: 100%; 
width: 100%;
max-width: 800px;
display: flex;
flex-direction: column;
}

#contacts{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    height: 15%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4em;
}
#nameJob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    font-size: 1.6rem;
    font-family: "Arial Black";
}

#currentJob {
    font-size: 1.2rem;
}

#numAdd {
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lbl {
    visibility: hidden;
    font-family: "Arial Black";
}

#content {
    background-color: #ffffff;
    height: 85%;
    width: 100%;
    font-family: 'Calibri Light', sans-serif;
}

p, ul {
    text-align: justify;
    font-size: 0.8rem;
}

ul{
    margin: 0.3rem 0.3rem 0.8rem 0.3rem;
}

li {
    list-style-type: disc;
    margin: 0.1rem 0 0.1rem 0.8rem;
}

#contContainer {
    margin: 5%;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    margin: 1.1rem 0 0.5rem 0;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: #30353e;
    font-size: 0.9rem;
    font-weight: 900;
}

.posDurations{
    font-size: 0.75rem;
    margin: 0.3rem 0 0 0;
}

.posDuration{
    font-size: 0.75rem;
    margin: 0.3rem 0 0.5rem 0;
}

#skl, #tls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (min-width: 600px) {
   #container {
    position: relative;
    max-height: fit-content;
    width: 900px;
    flex-direction: row;
   }
   
    #contacts {
    width: 27%;
    height: 100%;
    display: flex;
    flex-direction: column;
   }

   #nameJob {
    position: relative;
    margin: 50% 0 417.5% 0;
    font-family: 'Calibri Light', sans-serif;
    letter-spacing: 0.3rem;
    transform: rotate(270deg);
    height: 100%;
    text-align: right;
    line-height: 2rem;
   }
   
   #numAdd {
    height: 100%;
   }

   #lbl {
    visibility: visible;
   }

   #content {
    height: 100%;
    width: 73%;
   }
}
